@import "tailwindcss";

@theme {
  --color-darkSlateGray: rgba(56, 60, 80, 1);
  --color-mainWhite: rgba(255, 255, 255, 1);
  --color-primaryBlue: rgba(141, 217, 251, 1);
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
